body { 

    background-image: url("/assets/burgerfondo.jpg");
    background-size: cover;


}

header, section, footer {
    
    width: 960px;
    margin-left: auto;
    margin-right: auto;

}

#navegador { 

    position: relative;
    z-index: 2;

    
}

#navcaja1 {
    
    position: relative;
    width: 960px;
    height: 135px;
    background: linear-gradient(black, rgba(0, 0, 0, 0.776), rgba(0, 0, 0, 0.701), transparent);

}


section {
    background: linear-gradient(transparent, #9a6a36a4, black);
    height: 560px;
    position: relative;

}

.cuadradosregistro { 

    list-style: none;

}

ul li a {
    
    font-family: 'Courgette', cursive;
    font-size: 100%;
    position: absolute;
    color: wheat;
    text-decoration: none;
    left: 90%;
    bottom: 60%;
    

}

.volver {
    list-style: none;
}

footer {

    background: linear-gradient(rgb(0, 0, 0),  black, black );
    height: 100px;
    position: relative;
    

}







.lema {

    
    font-family: 'Benne', serif;
    font-size: 100%;
    position: absolute;
    left: 10%;
    top: 30%;
    color: rgb(255, 255, 255);
    
  
}

.titulo {

    margin-left: 1em;
    font-family: 'Courgette', cursive;
    font-size: 150%;
    position: absolute;
    left: 20px;
    color: wheat;
    text-shadow: 2px 2px 5px yellow;
  
}



.hamburguesalogo { 

    width: 42px;
    margin-left: 96px;

   }

   

   .beneficios {

    position: absolute;
    bottom: 85%;
    left: 15%;


   }

   

   .formulario {    
        
    font-family: 'Benne', serif;
    width: 350px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: linear-gradient(100deg, rgb(216, 155, 22), transparent);
    border-width: 4px;
    border-style: solid;
    border-image: initial;
    border-radius: 5px;
    border-color: rgba(68, 68, 52, 0.733);
        
        
       }

       .rellenar {

        
       
        position: absolute;
        padding: 17px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50% );     
       

       }

       

       ul li input { 

        color: rgb(224, 154, 2) ;
        background-color: rgba(22, 19, 19, 0.735);
        border-radius: 10px;
        
        

       }

       .marca {

        margin-left: 1em;
        font-family: 'Courgette', cursive;
        font-size: 150%;
        position: absolute;
        top: 7%;
        left: 28%;
        transform: translate(-10%, -25% ); 
        color: wheat;
        text-shadow: 2px 2px 5px black;

       }

       

       

      


